.h1{
    display: block;
    font-size: 28px;
    color: black;
}

.h2{
    display: block;
    font-size: 24px;
    color: black;
}

.pain {
    width: 600px;
    height: min-content;
    display: inline;
    border-radius: 3px;
    justify-content: center;
    margin: 10px auto;
}

.quote{
    margin: 10px;
    min-inline-size: fit-content;
    font-size: 20px;
    color: black;
}
.box{
    margin: 50px 25%;
}

.success{
    color: #ec9b02;
}