body{
    background-image: url("../background_images/home.png");
}
.input{
    margin-bottom: 10px;
    background-color: bisque;
}
.parent{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.basic {
    display: block;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    background-color: dimgrey;
    float: bottom;
    width: 20%;
    text-align: center;
    border: solid 2px black;
    margin: auto auto 10px;
    align-items: center;
    align-content: center;
    height: 30%;
    padding: 10px 10px 10px 10px;
}
.submit{
    background-color: darkgoldenrod;
}